<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>消防管理网络实名制人员</title>
    <style>
        td{
            border: 1px solid black;
        }
        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>

    <div >
        <table class="table1" >
            <tr><td class="bodytitle td1" colspan="6">消防安全责任人</td></tr>
            <tr>
                <td class="bodytitle tds2">姓名</td>
                <td class="tds3">丁文斌</td>
                <td class="bodytitle tds4">所属部门</td>
                <td class="tds5">人事部</td>
                <td class="tds6" rowspan="6"><img src="./3212.jpg" style="width: 250px;" /></td>
            </tr>
            <tr>
                <td class="bodytitle tds2">性别</td>
                <td class="tds3">女</td>
                <td class="bodytitle tds4">职务</td>
                <td class="tds5">经理</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">身份证号</td>
                <td class="tds3">345621365446666666</td>
                <td class="bodytitle tds4">联系电话</td>
                <td class="tds5">15623654878</td>
            </tr>
            <tr>
                <td class="bodytitle td2">是否经过消防培训</td>
                <td class="td3">是</td>
                <td class="bodytitle td4">任命书</td>
                <td class="td5"></td>
            </tr>
            <tr>
                <td class="bodytitle td2">从事工作种类</td>
                <td class="td3">监控人员</td>
                <td class="bodytitle td4">变更时间</td>
                <td class="td5">2016-8-9</td>
            </tr>
            <tr>
                <td class="bodytitle td2">证书编号</td>
                <td class="td3">SFDERFGRT1564523</td>
                <td class="bodytitle td4">证书有效期</td>
                <td class="td5">2030-9-6</td>
            </tr>

            <tr>
                <td colspan="6"><img src="./renmingshu.png" width="80%" /></td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br><br>
        <span class="img"></span>
        <div style="height: 20px"></div>
        <table class="table1">
            <tr><td class="bodytitle td1" colspan="6">消防安全管理人</td></tr>
            <tr>
                <td class="bodytitle tds2">姓名</td>
                <td class="tds3">李杰</td>
                <td class="bodytitle tds4">所属部门</td>
                <td class="tds5">人事部</td>
                <td class="tds6" rowspan="6"><img src="./3212.jpg" style="width: 250px;" /></td>
            </tr>
            <tr>
                <td class="bodytitle tds2">性别</td>
                <td class="tds3">男</td>
                <td class="bodytitle tds4">职务</td>
                <td class="tds5">经理</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">身份证号</td>
                <td class="tds3">345621365446666666</td>
                <td class="bodytitle tds4">联系电话</td>
                <td class="tds5">15623654878</td>
            </tr>
            <tr>
                <td class="bodytitle td2">是否经过消防培训</td>
                <td class="td3">是</td>
                <td class="bodytitle td4">任命书</td>
                <td class="td5"></td>
            </tr>
            <tr>
                <td class="bodytitle td2">从事工作种类</td>
                <td class="td3">监控人员</td>
                <td class="bodytitle td4">变更时间</td>
                <td class="td5">2016-8-9</td>
            </tr>
            <tr>
                <td class="bodytitle td2">证书编号</td>
                <td class="td3">SFDERFGRT1564523</td>
                <td class="bodytitle td4">证书有效期</td>
                <td class="td5">2030-9-6</td>
            </tr>

            <tr>
                <td colspan="6"><img src="./renmingshu.png" width="80%" /></td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br><br>
        <span class="img"></span>
        <div style="height: 20px"></div>
        <table class="table1">
            <tr><td class="bodytitle td1" colspan="6">重点岗位人员</td></tr>
            <tr>
                <td class="bodytitle tds2">姓名</td>
                <td class="tds3">王浩</td>
                <td class="bodytitle tds4">所属部门</td>
                <td class="tds5">人事部</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">性别</td>
                <td class="tds3">男</td>
                <td class="bodytitle tds4">职务</td>
                <td class="tds5">经理</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">身份证号</td>
                <td class="tds3">3562346513298765</td>
                <td class="bodytitle tds4">联系电话</td>
                <td class="tds5">1502135465</td>
            </tr>
            <tr>
                <td class="bodytitle td2">是否经过消防培训</td>
                <td class="td3">是</td>
                <td class="bodytitle td4">所从事工种类</td>
                <td class="td5">电梯安全管理</td>
            </tr>
            <tr>
                <td class="bodytitle td2">从事工作种类</td>
                <td class="td3">监控人员</td>
                <td class="bodytitle td4">变更时间</td>
                <td class="td5">2016-8-9</td>
            </tr>
            <tr>
                <td class="bodytitle td2">性别</td>
                <td class="td3">男</td>
                <td class="bodytitle td4">文化程度</td>
                <td class="td5">大专</td>
            </tr>
            <tr>
                <td class="bodytitle td2">所在部门</td>
                <td class="td3">工程部</td>
                <td class="bodytitle td4">入职时间</td>
                <td class="td5">2002-09-03</td>
            </tr>
            <tr>
                <td class="bodytitle td2">是否经过消防培训</td>
                <td class="td3">是</td>
                <td class="bodytitle td4">参加培训时间</td>
                <td class="td5">2009-09-03</td>
            </tr>
            <tr>
                <td class="bodytitle td2">是否为疏散引导员</td>
                <td class="td3">是</td>
                <td class="bodytitle td4">领证时间</td>
                <td class="td5">200-09-03</td>
            </tr>
            <tr>
                <td class="bodytitle td2">证书编号</td>
                <td class="td3">SFDERFGRT1564523</td>
                <td class="bodytitle td4">证书有效期</td>
                <td class="td5">2030-9-6</td>
            </tr>
            <tr>
                <td class="bodytitle td2">责任区域信息</td>
                <td class="td3" colspan="3">3-4-5</td>
            </tr>
            <span  class="img"></span>
            <tr>
                <td colspan="6"><img src="./renmingshu.png" width="80%"  /></td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br><br>
        <span class="img"></span>
        <div style="height: 20px"></div>
        <table class="table1">
            <tr><td class="bodytitle td1" colspan="6">消防控制室操作人员</td></tr>
            <tr>
                <td class="bodytitle tds2">姓名</td>
                <td class="tds3">王浩</td>
                <td class="bodytitle tds4">所属部门</td>
                <td class="tds5">人事部</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">性别</td>
                <td class="tds3">男</td>
                <td class="bodytitle tds4">职务</td>
                <td class="tds5">经理</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">身份证号</td>
                <td class="tds3">3562346513298765</td>
                <td class="bodytitle tds4">联系电话</td>
                <td class="tds5">1502135465</td>
            </tr>
            <tr>
                <td class="bodytitle td2">是否经过消防培训</td>
                <td class="td3">是</td>
                <td class="bodytitle td4">所从事工种类</td>
                <td class="td5">电梯安全管理</td>
            </tr>
            <tr>
                <td class="bodytitle td2">从事工作种类</td>
                <td class="td3">监控人员</td>
                <td class="bodytitle td4">变更时间</td>
                <td class="td5">2016-8-9</td>
            </tr>
            <tr>
                <td class="bodytitle td2">性别</td>
                <td class="td3">男</td>
                <td class="bodytitle td4">文化程度</td>
                <td class="td5">大专</td>
            </tr>
            <tr>
                <td class="bodytitle td2">所在部门</td>
                <td class="td3">工程部</td>
                <td class="bodytitle td4">入职时间</td>
                <td class="td5">2002-09-03</td>
            </tr>
            <tr>
                <td class="bodytitle td2">是否经过消防培训</td>
                <td class="td3">是</td>
                <td class="bodytitle td4">参加培训时间</td>
                <td class="td5">2009-09-03</td>
            </tr>
            <tr>
                <td class="bodytitle td2">是否为疏散引导员</td>
                <td class="td3">是</td>
                <td class="bodytitle td4">领证时间</td>
                <td class="td5">200-09-03</td>
            </tr>
            <tr>
                <td class="bodytitle td2">证书编号</td>
                <td class="td3">SFDERFGRT1564523</td>
                <td class="bodytitle td4">证书有效期</td>
                <td class="td5">2030-9-6</td>
            </tr>
            <tr>
                <td class="bodytitle td2">责任区域信息</td>
                <td class="td3" colspan="3">3-4-5</td>
            </tr>
            <tr>
                <td colspan="6"><img src="./renmingshu.png" width="80%" /></td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br><br>
        <span class="img"></span>
        <div style="height: 20px"></div>
        <table class="table1">
            <tr><td class="bodytitle td1" colspan="6">消防安全重点工种人员</td></tr>
            <tr>
                <td class="bodytitle tds2">姓名</td>
                <td class="tds3">王浩</td>
                <td class="bodytitle tds4">所属部门</td>
                <td class="tds5">人事部</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">性别</td>
                <td class="tds3">男</td>
                <td class="bodytitle tds4">职务</td>
                <td class="tds5">经理</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">身份证号</td>
                <td class="tds3">3562346513298765</td>
                <td class="bodytitle tds4">联系电话</td>
                <td class="tds5">1502135465</td>
            </tr>
            <tr>
                <td class="bodytitle td2">所从事工种类</td>
                <td class="td3">电梯安全管理</td>
                <td class="bodytitle td4">证书编号</td>
                <td class="td5">KIIFDAOFJSALKJASD236</td>
            </tr>
            <tr>
                <td class="bodytitle td2">发证日期</td>
                <td class="td3">2016-9-3</td>
                <td class="bodytitle td4">有效日期</td>
                <td class="td5">2026-9-3</td>
            </tr>
            <span  class="img"></span>
            <tr >
                <td colspan="6"><img src="./renmingshu.png"  width="80%" /></td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br><br>
        <span class="img"></span>
        <div style="height: 20px"></div>
        <table class="table1">
            <tr><td class="bodytitle td1" colspan="6">自动系统操作人员</td></tr>
            <tr>
                <td class="bodytitle tds2">姓名</td>
                <td class="tds3">王浩</td>
                <td class="bodytitle tds4">所属部门</td>
                <td class="tds5">人事部</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">性别</td>
                <td class="tds3">男</td>
                <td class="bodytitle tds4">职务</td>
                <td class="tds5">经理</td>
            </tr>
            <tr>
                <td class="bodytitle tds2">身份证号</td>
                <td class="tds3">3562346513298765</td>
                <td class="bodytitle tds4">联系电话</td>
                <td class="tds5">1502135465</td>
            </tr>
            <tr>
                <td class="bodytitle td2">操作项目</td>
                <td class="td3">电梯安全管理</td>
                <td class="bodytitle td4">证书编号</td>
                <td class="td5">KIIFDAOFJSALKJASD236</td>
            </tr>
            <tr>
                <td class="bodytitle td2">发证日期</td>
                <td class="td3">2016-9-3</td>
                <td class="bodytitle td4">有效日期</td>
                <td class="td5">2026-9-3</td>
            </tr>

            <tr>
                <td colspan="6"><img src="./renmingshu.png" width="80%" /></td>
            </tr>
        </table>
    </div>





</body>
</html>
